*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

#header1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: red;
}

#header2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100px;
    width: 100%;
    background-color: blue;
}

a{
    font-size: 30px;
    color: black;
    text-decoration: none;
}

#logo1{
    height: 50px;
    width: 50px;
}

#logo2{
    height: 50px;
    width: 50px;
}

#logo2:hover{
    border: solid red 2px;
}