* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: black;
    text-decoration: none;
    transition: 0.4s;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: blue;
}

#logo2 {
    height: 50px;
    width: 50px;
}

#home4 {
    height: 30px;
    width: 30px;
    border: solid black 1px;
    background-image: url('https://th.bing.com/th/id/R.ec0d4360604fce61e5d199fca982e9c6?rik=BnXbrCqsDMYc4A&riu=http%3a%2f%2fwww.specklin.net%2fcommon%2fCommonHome.gif&ehk=qJR6YOKllRwpdpd%2bDo9ORaWSWA8ia4Kh50NHzEl48kk%3d&risl=&pid=ImgRaw&r=0');
}

#products4 {
    height: 30px;
    width: 30px;
    border: solid black 1px;
    background-image: url('https://teljeseladas.com/logo/15.png');
}

#aboutUs4 {
    height: 30px;
    width: 30px;
    border: solid black 1px;
    background-image: url('https://support.content.office.net/pt-br/media/2a4037c4-ba3e-4088-aa11-c8d1d4ab5930.png');
}


#home3:hover {
    #home4 {
        background-image: url('https://www.shareicon.net/data/32x32/2016/01/03/697492_home_512x512.png');
    }
}

#products3:hover {
    #products4 {
        background-image: url('https://shop.manleys.com/resources/assets/images/miniCart.png');
    }
}

#aboutUs3:hover {    
    #aboutUs4 {
        background-image: url('https://th.bing.com/th/id/OIP.V4l_0y-O7MT2kB1ugHEYKQAAAA?w=30&h=31&rs=1&pid=ImgDetMain');
    }
}