* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: red;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: black;
    text-decoration: none;
    transition: 0.4s;
}

#home2 {
    height: 25px;
    width: 25px;
}

#products2 {
    height: 25px;
    width: 25px;
}

#aboutUs2 {
    height: 25px;
    width: 25px;
}

#logo {
    height: 50px;
    width: 50px;
}

#home1:hover {
    background-color: yellow;
    color: blue;
    #home2 {
        height: 34px;
        width: 34px;
    }
}

#products1:hover {
    background-color: yellow;
    color: blue;
    #products2 {
        height: 34px;
        width: 34px;
    }
}

#aboutUs1:hover {
    background-color: yellow;
    color: blue;
    #aboutUs2 {
        height: 34px;
        width: 34px;
    }
}