* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: black;
}

#extremaDireita {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

a {
    font-size: 30px;
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

#logo1 {
    height: 50px;
    width: 50px;
}

#home1:hover {
    color: yellow;
    background-color: aqua;
}

#products1:hover {
    color: gray;
    background-color: blueviolet;
}

#aboutus1:hover {
    color: green;
    background-color: blue;
}

#barraDePesquisa1{
    height: 20px;
    width: 600px;
}